In [ ]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="7" color="red">ch02. 자료형과 연산자</font></b>

# 1절. 변수
- 변수 : 프로그램 작업 처리를 위해, 값을 저장할 수 있는 메모리 공간
- 파이썬은 변수 선언을 위한 타입이 없고, 별도의 선언 과정도 없음

## 1.1 변수 할당
- 할당연산자(=)을 이용해서 값을 할당하면 자료형(타입)이 셋팅
- **파이썬에서의 모든 변수는 객체로 저장**

In [ ]:
r = 5
area = 3.14 * r * r
print('넓이 :', area)

In [ ]:
import numpy as np # numpy패키지를 np라는 이름으로 사용
area = np.pi * r * r
print('넓이 :', area)

In [ ]:
print('area의 주소 :', id(area))
print('area의 타입 :', type(area))

In [ ]:
area.is_integer()

In [ ]:
area = 10
print('area의 주소 :', id(area))
print('area의 타입 :', type(area))

In [ ]:
area = "파이썬"
print('area의 주소 :', id(area))
print('area의 타입 :', type(area))

## 1.2 변수(함수) 이름 규칙
- 문자로 시작
- 문자(특수문자는 _ 외에는 불가), 숫자, _로 변수명 작성
- 함수명은 변수명으로 가능하나 피한다. 꼭 써야 한다면 str_식으로 사용한다
- 파이썬 예약어(for, if,...)는 변수명 사용 불가
- 한글 변수는 꼭 필요시에만 사용

In [ ]:
이름 = "홍길동" # 비추
print(이름)

In [ ]:
for = 5

In [ ]:
# member.name = "홍길동"
member_name = "홍길동"
memberName = "홍길동"
print(member_name, memberName)

In [ ]:
# 숫자 : 정수, 실수, 복소수
i = 1 + 3j # 복소수
print(type(i))

In [ ]:
isinstance(i, complex) # i변수가 complex 타입의 객체인지?

In [ ]:
isinstance(i, int) # i변수가 int타입의 객체인지?

## 1.3 다중 변수 선언

In [ ]:
a = 10
b = 20

In [ ]:
a, b = 10, 20
print(a, b)

In [ ]:
a, b = b, a+b   # 다중 변수 할당시 순차적 할당이 아니고, 일괄 동시 할당
print(a, b)

## 1.4 도움말

In [ ]:
help(print)

In [ ]:
help() # help빠져나오기 : q / 결과접기/펴기 : esc+o

In [ ]:
# 도움말 기능 : shift + tab 키
print()

In [ ]:
def add(x, y=0):
    '''
    매개변수(x, y) 2개를 받아 두자리 숫자로 만들는 함수
    x = 10의 자리수가 되고
    y = 1의 자리수가 됨(default값 0)
    '''
    return x*10 + y

In [ ]:
add(3, y=4)

In [ ]:
add(3)

# 2절. 화면i/o

In [ ]:
# input() : 사용자로부터 값을 입력받기 위한 함수. 입력값은 문자(str)로 받음
first = input()
print(first)

In [ ]:
first = input('첫번째 숫자는?')
second = input('두번째 숫자는?')

In [ ]:
print('두수의 합은', first+second)

In [ ]:
first = int(input('첫번째 숫자는?'))
second = int(input('두번째 숫자는?'))

In [ ]:
print('두수의 합은', first+second)

In [ ]:
print('first', first, 'second', second, sep=' - ', end='\t')
print('Hello', 'Python', sep=' ')

### #3절.기본 자료형
- 자료형 : 변수가 가져야 할 값의 형식. 자료형의 값의 크기와 저장방식이 달라짐
- 자료형에 따라 수행 할 수 있는 명령어들이 달라짐

        * `숫자` : int, float( 소수점 4.0),complex(허수부 j)
        * `문자` : str("",'')
        * `논리` : bool(True/False)
        
##3.1 숫자형

In [ ]:
import sys
print(sys.maxsize)# 정수의 최대값 : 2**63 - 1

In [ ]:
2**63 -1

In [ ]:
i = sys.maxsize + 1000000
print(i)
print(type(i))

In [ ]:
# f =0.000000000000000000012
f =1.2e-20 # 지수형 1.2*10의 -20승
print(f)
b = 1.2e20 # 지수형 1.2의 10의 20승
print(b)

In [ ]:
# 파이썬에서는 /의 결과는 무조건 실수
f = 4/2 
print('f=',f)

In [ ]:
#자바나 c, c++처럼 정수,정수 결과를 저수로
f =int (3/2) #int() : int로 형변환(내림)
print('f=',f)
f =3//2 # 몫연산자
print('f=',f)

### ##3.2 문자형
겹따옴표("~")나 홑따옴표('-')이용

In [ ]:
name ='홍길동\'짱\'' #홍길동'짱'
name = "홍길동'짱'"
address = '서울시 관악구 "신림"동' #서울시 관악구"신림"동
print(name)

In [ ]:
# escape 문자(탈출문자) : \n \t
text = '열러줄\t짜리 내용을 저장\n줄바꿈 문자를 쓰면 됨\n줄바꿈'
print(text)

In [ ]:
test = '''
여러줄\t짜리 내용을 저장
줄바꿈 문자를 쓰면 된
줄바꿈
'''
print(text)

### ※ 문자열 연산(+,*)

In [ ]:
'''
    여러 줄 주석 용도
    2025.09.12 문자열 연산 by 아무개
'''
name1 = "홍길동"
name2 = "동해번쩍"
print(name1 + name2)
print(name1, name2)

In [ ]:
print(name1 * 3)

### ※ raw데이터
- 용도 :정규표현식 이용, 디렉토리 경로를 표현시 이용

In [ ]:
# raw데이터 : 데이터 처리시 이스케이프 문자(\n,\t,\',\")를 그대로 저장
print(r'Hello\nWorld')

In [ ]:
정규표현식(regex)
    1. 참조 : https://ko.wikipedia.org/wiki/%EC%A0%95%EA%B7%9C_%ED%91%9C%ED%98%84%EC%8B%9D 위키백과
    2. 간략문법
        \d (숫자와 매치.[0-9]와 동일)
        \D (숫자가 아닌 것)
        \w (영문자나 숫자 [a-zA-Z0-9]와 동일)
        \W (영문자나 숫자가 아닌 문자)
        .  (문자)
        \. (.)
        \- (-)
        {2,} (2번 이상 반복)
        {2, 4} (2~4회 반복)
        ?      (0번이나 1번 의미)
        +      (1번 이상 반복)
        *      (0번 이상 반복)
    3. 정규표현식 연습장    :https://regexr.com/
           ex1. 전화번호 : 02 888 7777 / 028887777 / 010-9999-9999 / 010.9999.9999 / 
                          02)999-9999
                          => 0\d{1,2}[ \-\.)]?\d{3,4}[ \-\.]?\d{4}
           ex2. 이메일 : abc12@naver.com / abc@sns.co.kr
                       => \w+@\w+(\.\w+){1,2}
           ex3. 주민번호 : 981212-1052525
                        => \d{2}(0[1-9]|1[0-2])(0[1-9]|[12]\d|30|31)-[1-4]\d{6}

In [3]:
import re
data = "이름:홍길동, 주소:서울, 전화:02-888-8888, \
핸드폰:010-9999-9999, 특징:동해번쩍 서해번쩍\
혈액형:Bㅋㅋ ㅋㅋzz"
print(data)

이름:홍길동, 주소:서울, 전화:02-888-8888, 핸드폰:010-9999-9999, 특징:동해번쩍 서해번쩍혈액형:Bㅋㅋ ㅋㅋzz

In [7]:
# 정규표현식 처리에서는 raw데이터 처리를 하지 않아도 실행은 되나
# 실수를 줄이고, 가독성을 높이는 용도르 raw 데이터 처리를 사용
tel_pattern = r"0\d{1,2}[ \-\.)]?\d{3,4}[ \-\.]?\d{4}"
# 해당 패턴을 다 찾아줌. 없으면 빈 list
tels = re.findall(tel_pattern, data) 
tels

['02-888-8888', '010-9999-9999']

In [8]:
email_pattern = r"\w+@\w+(\.\w+){1,2}"
emails = re.findall(email_pattern, data)
emails

[]

In [9]:
# 정규표현식 패턴과 처음 match되는 것을 찾아줘
firstTel = re.search(tel_pattern, data)
firstTel

In [10]:
print(data[18:29]) # 문자열 슬라이싱
print(firstTel.group(0))

02-888-8888
02-888-8888

In [11]:
tel_pattern = r"(\d{2,3})-(\d{3,4})-(\d{4})"

firstPhone = re.search(tel_pattern, data)
firstPhone

In [12]:
print('전체 전화번호 :', firstPhone.group(0))
print('국번 :', firstPhone.group(1))
print('중간번호 :', firstPhone.group(2))
print('끝번호 :', firstPhone.group(3))

전체 전화번호 : 02-888-8888
국번 : 02
중간번호 : 888
끝번호 : 8888

In [13]:
# data에서 특정한 데이터 없애기
re.sub("[^가-힣0-9A-Z\s]", '', data)

'이름홍길동 주소서울 전화028888888 핸드폰01099999999 특징동해번쩍 서해번쩍혈액형B '